/* custom */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

/* main cards */
.container{
    display: flex;
}

.tracks-container{
	flex-grow: 1;
	margin: 1%;
    background-color: #ffffff;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

/* add */
.add{
	margin: 1%;
	width: 320px;
    background-color: #ffffff;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    height: 270px;
}

#addicon{
    position: relative;
    margin: 10px;
    left: 40%;
    cursor: pointer;
}

/* player */
.player{
	width: 320px;
    height: 240px;
    margin: 1%;
    margin-bottom: 100px;
    background-color: #ffffff;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

/* playlists */
#title{
	font-size: 30px;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.3);
    position: relative;
    bottom: 24px;
    left: 5px;
}

.bar{
    box-sizing: border-box;
    position: relative;
    background: #f5709e;
    color: white;
    height: 62px;
    width: 100%;
    padding: 8px;
}

#tracks-head{
    background-color: rgba(245, 112, 158, 0.31);
    text-align: left;
}

.tracks{
    font-size: 14px;
    width: 100%;
    border-collapse: collapse;
}

td{
    padding: 10px;
    border-bottom: 2px solid rgba(245, 112, 158, 0.31);
}

tr:hover td{
    background-color: rgba(245, 112, 158, 0.31);
    transition: background-color 0.1s linear;
    cursor: pointer;
}

/* controller */

.controller{
    position: fixed;
    z-index: 1;
    bottom: 0px;
    left: 0;
    height: 30px;
    width: 100%;
    background: #f5709e;
    -webkit-box-shadow: 0px -2px 10px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px -2px 10px 0px rgba(0,0,0,0.6);
    box-shadow: 0px -2px 10px 0px rgba(0,0,0,0.6);
    padding: 15px;
}

.controller #volumeRocker{
    width: 150px;
    position: fixed;
    z-index: 1;
    bottom: 70px;
    left: 10px;
    visibility: hidden;
}

.controller #videoName{
    font-size: 20px;
    float:left;
    margin-top: 4px;
    margin-left: 40px;
    color: white;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);

}

.controller #watermark{
    position: fixed;
    z-index: 1;
    right: 8px;
}


/* general */

#main-head{
	margin: 1px;
	font-size: 82px;
	text-align: center;
	background-color: #565656;
  	color: transparent;
  	text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
  	-webkit-background-clip: text;
    -moz-background-clip: text;
          background-clip: text;
}

*{
    font-family: 'Roboto', sans-serif;
}

h3{
    font-size: 13px;
    position: relative;
    left: 10px;
    margin-bottom: 4px;
}

input{
    margin: 0px;
    left: 10px;
    position: relative;
    width: 90%;
}

ion-icon{
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-left: 15px;
    float:left;
}

body{
	background-color: #E7ECEF;
    min-height: 500px;
    min-width: 500px;
}

form{
	padding-left: 10px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}